{% extends "base/base.html" %}

{% load static %}

{% block header %}
<header class="site-header navbar">
  <div class="content max-width">
    <a href="{% url 'index' %}">
      <img class="logo" src="{% static 'assets/logo.svg' %}" alt="hirestaurant Logo">
    </a>
    <nav>
      <ul class="navbar">

        <li>
          <a href="#" > 맛집검색</a>
        </li>
        <li>
          <a href="#"> 리뷰보기</a>
        </li>
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">관리자</a></li>
          {% endif %}
          <li><a href="#">내 프로필</a></li>
          <li><a href="{% url 'account_logout' %}">로그아웃</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">로그인</a></li>
          <li><a href="{% url 'account_signup' %}">회원가입</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
{% endblock header %}

{% block footer %}
<footer class="site-footer">
  <div class="max-content-width content">
    <div></div>
    <div>Hi!hirestaurant</div>
  </div>
</footer>
{% endblock footer %}
