{% extends "base/base_with_navbar.html" %}

{% block content %}
<main class="site-body index">
  <div class="main-header">
    <div class="fg"></div>
    <div class="content">
      <h1> 오늘 날씨엔 뭐가 맛있을까?</h1>
      <h1> 신개념 날씨별 맛집 추천시스템 </h1>
      <h1> Hi! Restaurant! </h1>
    </div>
  </div>
  <div class="content-list max-content-width">
    <div class="header">
      <h1>날씨별로 음식을 추천해준다고?</h1>
    </div>
    <div class="contents">
      <dl>

      </dl>
    
    </div>
    <div class="content-list max-content-width">
      <div class="header">
        <h1>음식 사진 슬라이드 </h1>
      </div>
      <div class="contents">
        <dl>
  
        </dl>
      
      </div>
    </div>
  </div>
</main>
{% endblock content %}
