{% extends "base/base_with_navbar.html" %}

{% load static %}

{% block content %}
<main class="site-body index">
  <div class="main-header">
    <div class="fg"></div>
    <div class="content">
      <h1> 오늘 날씨엔 뭐가 맛있을까?</h1>
      <h1> 신개념 날씨별 맛집 추천시스템 </h1>
      <h1> Hi! Restaurant! </h1>
    </div>
  </div>
  <div class="index-list max-content-width">
    <!-- <div class="header">
      <h1>날씨별로 음식을 추천해준다고?</h1>
    </div> -->
    <div class="contents">
      <dl>
        <dl>
          <dt><h1>날씨별로 음식을 추천해준다고?</h1></dt>
          <dt><h2>점심시간 때마다 매번 뭘 먹어야할지 고민한다면</h2></dt>
          <dt><h2>리뷰,추천별점 뿐만 아니라 날씨에 따라 식당과 음식을 추천해드립니다! </h2></dt>
        </dl>
      </dl>
      <div class="sidecontents">
        <figure>
          <img src="{% static 'assets/emoji-banner.png' %}" alt="">
        </figure>
        <a href="" class="cp-button">추천 받으러가기</a>
        <a href="" class="cp-button"> 식당 검색하러 가기</a>
      </div>
   

    </div>


  </div>
  <div class="index-list max-content-width">
    <div class="header">
      <h1>음식 사진 슬라이드 </h1>
    </div>
    <div class="contents">

    
    </div>
  </div>
</main>
{% endblock content %}
